.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-style: italic;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 73px;
    margin-right: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 978px;
}

.u-section-2 .u-text-1 {
  margin: 60px 485px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 805px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 385px;
    margin-right: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 275px;
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 185px;
    margin-right: 185px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 763px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 480px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  width: 507px;
  background-image: none;
  text-decoration: none solid rgb(57, 47, 48) !important;
  margin: 60px auto;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 18px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 261px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-1 {
  width: 154px;
  height: 205px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 20px;
}

.u-section-3 .u-text-2 {
  margin: 18px 331px 0 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 10px 51px 0 10px;
}

.u-section-3 .u-text-4 {
  margin: 9px 31px 0 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 9px 31px 0 10px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-layout-wrap-2 {
  width: 1140px;
  margin: 18px auto 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 261px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-2 {
  width: 154px;
  height: 187px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 261px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 30px 33px;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  margin: 10px 314px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 10px 51px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 63px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 63px 0 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-style: normal;
    margin-right: 679px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    min-height: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
    min-height: 204px;
    width: 940px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 214px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 569px;
    margin-left: 210px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 131px;
  }

  .u-section-3 .u-layout-wrap-2 {
    min-height: 29px;
    width: 720px;
    margin-left: 210px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 479px;
    margin-left: 300px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 115px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    min-height: 115px;
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 499px;
    margin-left: 400px;
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    min-height: 20px;
    width: 340px;
    margin-left: 400px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 156px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}.u-section-4 {
  min-height: 750px;
}

.u-section-4 .u-group-1 {
  width: 469px;
  min-height: 201px;
  background-image: none;
  margin: 155px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 457px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 350px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 482px;
    margin-top: 322px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}