.u-section-1 .u-sheet-1 {
  min-height: 164px;
}

.u-section-1 .u-text-1 {
  margin: 60px 286px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 186px;
    margin-right: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 76px;
    margin-right: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 553px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 240px;
  height: 293px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 40px;
}

.u-section-2 .u-text-1 {
  width: 240px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 56px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 78px 0;
}

.u-section-2 .u-text-4 {
  width: 212px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 553px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 69px 0;
}

.u-section-2 .u-text-6 {
  width: 240px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 598px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 20px 77px 0;
}

.u-section-2 .u-text-8 {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 133px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 240px;
  height: 293px;
  object-position: 100% 100%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 20px 83px 0;
}

.u-section-2 .u-text-10 {
  margin: 49px 124px 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 573px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  width: 240px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 133px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 240px;
  height: 293px;
  object-position: 50% 0%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  margin: 20px 91px 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 118px 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 573px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  width: 165px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-16 {
  margin: 49px 92px 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 573px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  margin: 20px 45px 0;
}

.u-section-2 .u-text-18 {
  width: 230px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 44px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 456px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 36px;
    margin-left: 36px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 493px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 43px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 87px;
    margin-right: 87px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 110px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 50px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 91px;
    margin-right: 91px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 110px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 472px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 59px;
    margin-right: 59px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 472px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 12px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 44px;
    margin-right: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 219px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: 180px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    width: 180px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-image-6 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-11 {
    width: 180px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-image-7 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-image-8 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-image-9 {
    width: 180px;
    height: 219px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 7px;
    margin-right: 7px;
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1875px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 652px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 293px;
  object-position: 100% 100%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 20px 56px 0;
}

.u-section-3 .u-text-2 {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 652px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 293px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 40px;
}

.u-section-3 .u-text-3 {
  margin: 20px 62px 0;
}

.u-section-3 .u-text-4 {
  width: 222px;
  margin: 56px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 652px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px 74px 0;
}

.u-section-3 .u-text-6 {
  width: 240px;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 562px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  width: 240px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 81px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 562px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 20px 70px 0;
}

.u-section-3 .u-text-10 {
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 20px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 562px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  object-position: 0% 0%;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 20px 40px 0 31px;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 578px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  width: 240px;
  height: 293px;
  object-position: 50% 0%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  margin: 20px 90px 0;
}

.u-section-3 .u-text-14 {
  width: 38px;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 578px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 21px 0 30px;
}

.u-section-3 .u-image-8 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  object-position: 50% 6.09%;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  width: 240px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-16 {
  margin: 78px 79px 0 70px;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 578px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  object-position: 50% 16%;
  margin: 0 auto;
}

.u-section-3 .u-text-17 {
  width: 240px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-18 {
  width: 136px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 22px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 29px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 538px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 41px;
    margin-left: 41px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 463px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 463px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 37px;
    margin-left: 37px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 463px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 477px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 107px;
    margin-right: 107px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 477px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 219px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 219px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 29px;
    margin-right: 29px;
    width: 180px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 180px;
    height: 219px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-6 {
    width: 180px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    width: 180px;
    height: 219px;
  }

  .u-section-3 .u-text-7 {
    width: 180px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    width: 180px;
    height: 219px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    width: 180px;
    height: 219px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-image-7 {
    width: 180px;
    height: 219px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-image-8 {
    width: 189px;
    height: 230px;
  }

  .u-section-3 .u-text-15 {
    width: 189px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-image-9 {
    width: 180px;
    height: 219px;
  }

  .u-section-3 .u-text-17 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 602px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  object-position: 50% 16%;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  width: 240px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 49px 60px 0 77px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  object-position: 50% 16%;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px 106px 0;
}

.u-section-4 .u-text-4 {
  margin-left: 123px;
  margin-right: 123px;
  margin-top: 20px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 240px;
  height: 293px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  object-position: 50% 16%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px 94px 0;
}

.u-section-4 .u-text-6 {
  margin-left: 119px;
  margin-right: 119px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 73px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 61px;
    margin-left: 61px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 86px;
    margin-right: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 180px;
    height: 219px;
  }

  .u-section-4 .u-text-1 {
    width: 180px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    width: 180px;
    height: 219px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 36px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    width: 180px;
    height: 219px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 24px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}